body{
    background-image: url(./../images/milad-fakurian-HE1_K4_-QT8-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    margin: 0px;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p-none {
    display: none;
  }

  .profile-sm {
    height: 155px !important;
  }

#error{
    position: relative;
    top: -50px;
    left: -140px;
    font-size: large;
}

.form{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.username{
    margin-right: 5px;
    background-color: var(--light-color);
    border: none;
    padding: 1rem 1.5rem;
    width: 30rem;
    height: 4.4rem;
    
    transition: all 0.3s ease-in-out;
  border-radius: var(--border-radius-lg);
  box-shadow: 1rem 1rem 4rem 1rem rgb(199, 195, 195);
  -webkit-box-shadow: 1rem 1rem 4rem 1rem rgb(199, 195, 195);
}

.profiles-ul{
    display: flex;
    flex-direction: row;
}

#profile-icon{
    border-radius: 100%;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.show-state .profiles {
    width: 90rem;
    height: auto;
    padding: 30px 30px;
    padding-top: 2.5rem;
    margin-top: 2.5rem;
  }
  
.profiles{
    margin: 0px 100px;
    height: 1px;
    width: 1px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--light-color);
    border-radius: var(--border-radius-2xl);
    transition: all 0.3s ease-in-out;
  box-shadow: 1rem 1rem 4rem 1rem rgb(199, 195, 195);
  -webkit-box-shadow: 1rem 1rem 4rem 1rem rgb(199, 195, 195);
}
.left{
    display: flex;
    flex-direction: row;
}

.profile-info-column2{
    margin: 8px 0px;
}

.profile-info-column1{
    margin: 8px 0px;
    display: flex;
    flex-direction: row;
}

.peaple-info{
    margin: 20px 5px;
}

.profile-github-grid1{
    margin-right: 20px;
}

.profile-info-row1-grid{
    margin-right: 10px;
}

.profile-header{
    margin-left: 7px;
}

.user-name{
    color: var(--gray-color);
    margin: 8px 0px;
}

.profile-info-row1-grid span{
    color: var(--gray-color);
}

#profile-location{
    display: flex;
    flex-direction: row;
    color: black;
}